.first-option{
    border: 1px solid;
    margin-top: ;

}
.second-option img{

    margin-top: 0%;
    border: 1px solid;
    height: 100%;
    width: 70%;

}
.third-option img{ 
    height: 500%;
    width:100%;
    margin-top: 5%;
    border: 1px solid;

}
.forth-option{

    margin-top: 5%;
    border: 1px solid;
    height: 25%;

}
<img src="images/image__1_-removebg-preview.png" alt="ornament 1" class="image">



<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="lucide lucide-calendar-range">
    <rect width="18" height="18" x="3" y="4" rx="2" />
    <path d="M16 2v4" />
    <path d="M3 10h18" />
    <path d="M8 2v4" />
    <path d="M17 14h-6" />
    <path d="M13 18H7" />
    <path d="M7 14h.01" />
    <path d="M17 18h.01" />
</svg>